[Desktop Entry]
Comment[en_US]=Google Chrome
Comment=Google Chrome
Exec=google-chrome --no-sandbox
GenericName[en_US]=Chrome
GenericName=Chrome
Icon=google-chrome
MimeType=
Name[en_US]=Google Chrome
Name=Google Chrome
Path=/tmp/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
