[Desktop Entry]
Encoding=UTF-8
Name=My Script
Comment=Launch DirSyncPro
Exec={{ general.home_dir }}/applications/pycharm-{{ pycharm_edition }}-{{ pycharm_version }}/bin/pycharm.sh
Icon={{ general.home_dir }}/applications/pycharm-{{ pycharm_edition }}-{{ pycharm_version }}/bin/pycharm.png
Type=Application
Name[en_US]=PyCharm CE
Comment[en_US.UTF-8]=Launch PyCharm
